# Build artifacts
tsrc/
*.o
*.obj
sqlite3
sqlite3.cpp
sqlite3.hpp
sqlite3ext.hpp
sqlite3session.hpp
shell.cpp
speedtest1
lemon
mkkeywordhash
mksourceid
jimsh
src-verify
libsqlite3.*
parse.c
parse.h
parse.out
parse.sql
parse.y
fts5parse.*
fts5.c
fts5.hpp
opcodes.c
opcodes.h
keywordhash.h
pragma.h
ctime.c
lempar.c
tclsqlite-ex.c
tclsqlite3.cpp
sqlite3.pc
sqlite_cfg.h
Makefile
config.log
config.status
config.defines.*
.main.mk.checks
.target_source
.tclenv.sh
*.exp
*.vsix
tmp-*
testdir/
testfixture
has_tclsh*
